<div>
  <a href="#/templates">Go Back</a>
  <br />
  <br />
  <div class="col-md-4">
    <img class="img-full" src="img/blue.jpg" />
  </div>
  <div class="col-md-8">
    <h3>Blue Templates</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at cursus urna, quis eleifend nisi. Pellentesque molestie ipsum sem, venenatis iaculis ante varius at. Nunc metus ipsum, eleifend at porta sed, faucibus a ipsum. Pellentesque vitae felis et leo sodales pharetra id eget ipsum. Sed commodo sodales arcu. Mauris eget vehicula enim. Sed id diam augue. Morbi rhoncus ac risus in porta. Pellentesque consectetur eu velit vitae vestibulum. In hac habitasse platea dictumst. Maecenas sollicitudin elit a sem condimentum luctus.
    </p>
    <h4>$19.99</h4>
    Buy it
  </div>
</div>
